<div class="row d-flex align-items-stretch">
  <div class="text col-lg-7">
    <div class="text-inner d-flex align-items-center">
      <div class="content">
        <header class="post-header">
          <div class="category"><a href="#"><%= post.category.title %></a></div>
          <h2 class="h4"><%= link_to post.title, post_path(post) %></h2>
        </header>
        <p><%= post.lead %></p>
        <footer class="post-footer d-flex align-items-center">
          <%= render 'info', :post => post %>
        </footer>
      </div>
    </div>
  </div>
  <div class="image col-lg-5" style="background-image: url(https://d19m59y37dris4.cloudfront.net/blog/1-2/img/featured-pic-1.jpeg)">
  </div>
</div>