<section style="" class="hero">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <h1>Mixbook<br>Developers Blog</h1>
      </div>
    </div>
  </div>
</section>

<section class="featured-posts">
  <div class="container">
    <% @posts.each do |post| %>
      <%= render 'post', {post: post} %>
    <% end %>
  </div>
</section>