/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.hero {
    background: url(https://static.tildacdn.com/tild3736-3939-4139-b865-336335323036/2et2.jpg);
    background-size: cover;
    background-position: center center;

    text-shadow: 1px 1px 8px #000;
}

blockquote{
    font-size: 1.05em;
    line-height: 1.7em;
    border-color: #999;
    border: 1px solid #eee;
    border-left: 6px solid #eee;
    padding: 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 30px;
}