<div class="container">
  <div class="row">
    <!-- Latest Posts -->
    <main class="post blog-post col-lg-8">
      <div class="container">
        <%= yield %>
      </div>
    </main>
    <aside class="col-lg-4">
      <!-- Widget [Search Bar Widget]-->
      <div class="widget search">
        <header>
          <h3 class="h6">Search the blog</h3>
        </header>
        <form action="#" class="search-form">
          <div class="form-group">
            <input type="search" placeholder="What are you looking for?">
            <button type="submit" class="submit"><i class="icon-search"></i></button>
          </div>
        </form>
      </div>
      <!-- Widget [Latest Posts Widget]        -->
      <%= render_cell :latest_posts, :show %>

      <!-- Widget [Categories Widget]-->
      <%= render_cell :categories, :show %>

      <!-- Widget [Tag Cloud Widget]-->
      <%= render_cell :tags_cloud, :show %>

    </aside>
  </div>
</div>

<% parent_layout 'application' %>